/* b{  width: 90vw;
   

}
.div{
   display: flex;
   list-style: none;
   margin-right: 30px;
   font-size: small;
background-color: brown;
  
    
}






* { 
    font-size: 30px;
    
}

p { 
    color:
}

.jay { 
    

}

#Ray {
    color:;

} */